// VARIABLES
@import "../abstracts/variables";

// MIXIN
@import "../abstracts/mixin";

/* --- NOSOTROS PAGE --- */
.info-container {
    padding: 30px;
    p{
        @include estilos-parrafo;
    }
    li{
        @include estilos-parrafo;
    }
}
.info-title {
    font-weight: bold;
    color: nth($colores, 2 );
    text-shadow: 2px 0px 2px nth($colores, 2 );
}

/* --- Info Queries --- */
@media (min-width:750px) {
    .info-main {
        @include flex-dos;
    }
    .info-container {
        width: 60vw;
    }
}