* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: #dcdcdc;
}

/* --- Header --- */
.navbar-nav {
    align-items: center;
}

.nav-link {
    color: #212d4a;
    padding: 5px;
}

.nav-link:hover {
    text-decoration: underline;
}

/* --- INDEX PAGE --- */

/* --- Carousel --- */
.carousel-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.carousel-item {
    height: auto;
}

.carousel-control-prev-icon {
    border-radius: 100%;
    background-color: #111a;
    align-items: center;
}

.carousel-control-next-icon {
    border-radius: 100%;
    background-color: #111a;
}

/* --- Maps Section --- */
.maps-section {
    background-color: #212d4a;
    color: #fff;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 30px;
}

.maps-section h2 {
    margin-bottom: 20px;
}

.maps-container {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 1300px;
    margin: auto;
    width: 100%;
    gap: 20px;
    min-height: 80vh;
}

.maps {
    background-image: linear-gradient(#0009, #0009), url("../imagenes/mapa.png");
    background-position: center;
    background-size: cover;
    display: grid;
    place-content: center;
    border-radius: 12px;
}

.maps:hover {
    opacity: 0.8;
    outline: 2px solid #fff6;
}

/* --- Maps Queries --- */
@media (min-width:800px) {
    .maps-section {
        min-height: auto;
    }

    .maps-container {
        grid-template-columns: repeat(2, 1fr);
        min-height: 30vh;
    }
}

/* --- Form Section --- */
.form-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 40vh;
    padding: 15px;
}

.form-section h2 {
    color: #fff;
    text-shadow: 2px 2px 4px #999a;
}

.form-input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    max-width: 90vh;
    width: 60vw;
}

.form-input-container input {
    border: none;
    padding: 8px;
    border-radius: 5px;
    width: 100%;
}

.button {
    background-color: #212d4a;
    color: #fff;
}

.button:hover {
    opacity: 0.88;
}

/* --- Form Queries --- */
@media (min-width:750px) {
    .form-input-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
        "name name"
        "email whatsapp"
        "marca modelo"
        "año kilometraje"
        "button button";
    }

    .form-input-container {
        gap: 10px;
    }

    .form-input-container input {
        padding: 15px;
    }

    .form-input-container input:first-child {
        grid-area: name;
    }
    .form-input-container input:nth-child(2) {
        grid-area: email;
    }
    .form-input-container input:nth-child(3) {
        grid-area: whatsapp;
    }
    .form-input-container input:nth-child(4) {
        grid-area: marca;
    }
    .form-input-container input:nth-child(5) {
        grid-area: modelo;
    }
    .form-input-container input:nth-child(6) {
        grid-area: año;
    }
    .form-input-container input:nth-child(7) {
        grid-area: kilometraje;
    }
    .form-input-container input:nth-child(8) {
        grid-area: button;
    }

    
}

/* --- NOSOTROS PAGE --- */
.info-container {
    padding: 30px;
}

.info-container p {
    font-size: 1.3rem;
    color: #212d4a;
}

.info-title {
    font-weight: bold;
    color: #212d4a;
    text-shadow: 2px 0px 2px #212d4a;
}

/* --- Info Queries --- */
@media (min-width:750px) {
    .info-main {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .info-container {
        width: 60vw;
        
    }
}

/* --- STOCK PAGE --- */
.cars-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    border: 1px solid #000;
}

.cars {
    background-color: #212d4a;
    color: #eee;
    text-align: center;
    padding: 100px;
    border-radius: 5px;
    border: 1px solid #000;
}

.cars:hover {
    opacity: 0.88;
}

/* --- Stock queries --- */
@media (min-width:750px) {
    .cars-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width:1024px) {
    .cars-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

/* --- CONTACTO PAGE --- */
.contact-main {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-title {
    text-align: center;
    color: #fff;
    text-shadow: 0px 0px 4px #111a;
    font-size: 2.3rem;
}

.contact-form {
    display: grid;
    grid-template-columns: 400px;
    padding: 30px;
    gap: 15px;
}

.contact-form input {
    padding: 10px;
    border: none;
    border-radius: 5px;    
}

.contact-form textarea {
    padding: 10px;
    border: none;
    border-radius: 5px;
}

/* --- Contact Queries --- */
@media (min-width:750px) {
    .contact-form {
        grid-template-columns: repeat(2, 300px);
        grid-template-areas: 
        "name name"
        "email telefono"
        "text text"
        "button button";
    }

    .contact-form input:first-child{
        grid-area: name;
    }
    .contact-form input:nth-child(2) {
        grid-area: email;
    }
    .contact-form input:nth-child(3) {
        grid-area: telefono;
    }
    .contact-form textarea:nth-child(4) {
        grid-area: text;
    }
    .contact-form input:nth-child(5) {
        grid-area: button;
    }
}

/* --- Footer --- */
footer {
    padding: 60px;
    text-align: center;
    background-color: #212d4a;
    color: #eee;
}
